
*{box-sizing: border-box;
}

@font-face{
font-family: 'Raleway';
src:url('/fonts/Raleway-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face{
font-family: 'Raleway Bold';
src:url('/fonts/Raleway-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

header {
width: 1900px;
border: 1px white solid;
height: 100px;
background: url(/img/logo.png) no-repeat 0% 50%,url(/img/fon.png) repeat-x;
position: fixed;
top:0;
text-align: center;
}

.menu{
margin-top:40px;
/*text-align: center;
height: 1168;
    width: 100%;*/
}

.menu li{
display: inline-block;
margin-left:40px;
color: white;
}

.headline {
margin-top: 100px;
width: 1900px;
border: 1px black solid;
height: 700px;
background:url(/img/fon.png);
color:white;
text-align: center;
}

.headline h1{
font-size: 70px;
margin-top: 200px;
}

.headline p{
font-size: 25px;
margin-left: 40px;
margin-right: 40px;
margin-bottom: 80px;
}

a.button{
padding: 10px 30px;
border: red solid;
background-color: red
}

.properties{
width: 1900px;
height: 690px;
border: 1px black solid;
text-align: center; 
padding: 120px 312px 48px 228px;
	}

.properties-header{
font: 14px 'Raleway Bold', 'Comic Sans MS', sans-serif;
	}

/*текст обрезается в другом месте, а не как в макете. Хм.*/
.properties-paragraph{
font: 14px 'Raleway', 'Comic Sans MS', sans-serif; 
line-height: 21px;
height: 50px;
	}

.properties div{
height: 185px;
width: 33%;
float: left;
padding-right: 100px;
margin-bottom: 80px;
overflow: hidden;  
	}
	
.pictures{
width: 1900px;
height: 702px;
border: 1px black solid;
	}

.pictures div{
height: 50%;
float: left;

}

.pictures1{
width: 465px;
background: url(/img/photo1.jpg) #15b0c3;
background-size: cover;
	}

.pictures2{
width: 482px;
background: url(/img/photo2.jpg) #15b0c3;
background-size: cover;
	}

.pictures3{
width: 482px;
background: url(/img/photo3.jpg) #15b0c3;
background-size: cover;
	}

.pictures4{
width: 465px;
background: url(/img/photo4.jpg) #15b0c3;
background-size: cover;
	}

.pictures5{
width: 465px;
background: url(/img/photo5.jpg) #15b0c3;
background-size: cover;
	}

.pictures6{
width: 482px;
background: url(/img/photo6.jpg) #15b0c3;
background-size: cover;
	}

.pictures7{
width: 482px;
background: url(/img/photo7.jpg) #15b0c3;
background-size: cover;
	}

.pictures8{
width: 465px;
background: url(/img/photo8.jpg) #15b0c3;
background-size: cover;
	}

.contacts{
width: 1900px;
border: 2px black solid;
height: 200px;
text-align: center;
font-family: 'Arial', serif; 
background: url(/img/fon1.png) ;
color: white; 
	}

.contacts div{
padding-top: 25px;
width: 30%;
float: left;
		}

footer{
width: 1900px;
border: 2px black solid;
height: 100px;
text-align: center;
background: url(/img/fon.png);
	}

footer p{
margin-top: 40px;
	}

footer a{
color: white;
text-decoration: none; 
	}